/.ActExc.java._trace
/.ActExc.xtendbin
/.ActGroup.java._trace
/.ActGroup.xtendbin
/.ActMand.java._trace
/.ActMand.xtendbin
/.ActPar.java._trace
/.ActPar.xtendbin
/.ActReq.java._trace
/.ActReq.xtendbin
/.ActXor.java._trace
/.ActXor.xtendbin
/.DeChild.java._trace
/.DeChild.xtendbin
/.DeOr.java._trace
/.DeOr.xtendbin
/.DeParent.java._trace
/.DeParent.xtendbin
/.DeReq.java._trace
/.DeReq.xtendbin
/.DeXor.java._trace
/.DeXor.xtendbin
/.FADPrincipleTester.java._trace
/.FADPrincipleTester.xtendbin
/ActExc.java
/ActGroup.java
/ActMand.java
/ActPar.java
/ActReq.java
/ActXor.java
/DeChild.java
/DeOr.java
/DeParent.java
/DeReq.java
/DeXor.java
/FADPrincipleTester.java
